workflows/DM AGENT - INSTA , FB/Calendar_workflow (1).json
{
  "name": "Calendar workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "549027a2-a7ab-44f2-9867-47f3a23b6ccd",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "99971c0b-cde6-4da5-9a2e-0d0eb5777ce7",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.query }}",
        "options": {
          "systemMessage": "=# Calendar Assistant System\n\n## Core Profile\nYou are a calendar assistant managing events through creation, retrieval, and modifications. All events default to one hour duration if unspecified.\n\nCurrent Time Context: {{ $now }}\n\n## Tools & Operations\n\n### Creation Tools\n- \"Create Event with Attendee\"\n  → Use for events with participants\n  → Requires: eventStart, eventEnd, eventTitle, eventAttendeeEmail\n\n- \"Create Event\"\n  → Use for solo events\n  → Requires: eventStart, eventEnd, eventTitle\n\n### Management Tools\n- \"Get Events\"\n  → Required before any modification/deletion\n  → Parameters: dayBefore, dayAfter\n\n- \"Update Event\"\n  → Modify existing events (requires Get Events first)\n  → Parameters: eventID, startTime, endTime\n\n- \"Delete Event\"\n  → Remove events (requires Get Events first)\n  → Parameters: eventID\n\n## Key Rules\n- Always retrieve events before updating or deleting\n- Verify event details before modifications\n- Default to one-hour duration when unspecified\n\n\n\n"
        }
      },
      "id": "7b12786e-f48a-4ed3-8be5-e830ffd9b7e0",
      "name": "Calendar Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -640,
        160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ankitraitalks@gmail.com",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }} with {{ $fromAI(\"eventAttendeeEmail\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -60,
        520
      ],
      "id": "4071d5ae-4cf1-4a2b-84d9-c9893bbc48ab",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ewYlCQx20fti6UR9",
          "name": "N8n X Ankitraitalks"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ankitraitalks@gmail.com",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -220,
        520
      ],
      "id": "adeb61a8-2277-4b83-9fc9-fcbc36485e7a",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ewYlCQx20fti6UR9",
          "name": "N8n X Ankitraitalks"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "=ankitraitalks@gmail.com",
          "mode": "id"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `the day before the date the user requested`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `the day after the date the user requested`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -460,
        520
      ],
      "id": "60a72816-66a1-4fdc-825e-bb3ad6d1732c",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ewYlCQx20fti6UR9",
          "name": "N8n X Ankitraitalks"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "ankitraitalks@gmail.com",
          "mode": "id"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -580,
        520
      ],
      "id": "e7f87930-ffb9-4f33-bbbf-e004efb2bef3",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ewYlCQx20fti6UR9",
          "name": "N8n X Ankitraitalks"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "ankitraitalks@gmail.com",
          "mode": "id"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -340,
        520
      ],
      "id": "6684d62e-4540-4205-aacd-ab9e6633127c",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ewYlCQx20fti6UR9",
          "name": "N8n X Ankitraitalks"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"query\": \"string\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        160
      ],
      "id": "d5bae13a-9c56-4c40-b089-b1448f9dece7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        440
      ],
      "id": "386cf7e0-c5be-4cc1-8312-2108404d2da3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "pq6Ws7AZsv9Fq3OF",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calendar Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "08ed6112-0071-477a-976f-92c8d51dc6ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77f1d8375380ee2bc4995763b4e39528bf040d446fc3e9e5f6d802ec19784049"
  },
  "id": "TkHxvBI0iEyvD1P6",
  "tags": []
}