workflows/Voice Agent Outbound Template.json
{
  "name": "Voice Agent Outbound Template",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/convai/twilio/outbound-call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent_id"
            },
            {
              "name": "agent_phone_number_id"
            },
            {
              "name": "to_number",
              "value": "={{ $json.fields['Phone Number'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -368
      ],
      "id": "4d99ed9c-0fd3-49ad-9224-89344bf68f7f",
      "name": "11Labs Outbound Call",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Vtjoct6CFLsnQ6Cd",
          "name": "ElevenLabs"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c7a10934-4cc6-4618-920c-25fc6d27628a",
        "options": {
          "rawBody": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1136,
        -416
      ],
      "id": "4cb30260-6423-45d4-b8ae-7a128e12a9d0",
      "name": "Webhook",
      "webhookId": "c7a10934-4cc6-4618-920c-25fc6d27628a"
    },
    {
      "parameters": {
        "jsCode": "// Get the webhook data from the input\nconst webhookData = $input.item.json;\n\n// Access the transcript array\nconst transcript = webhookData.body.data.transcript;\n\n// Format the transcript into a clean string\nconst formattedTranscript = transcript.map(entry => {\n  // Capitalize the role for better readability\n  const role = entry.role.charAt(0).toUpperCase() + entry.role.slice(1);\n  return `${role}: ${entry.message}`;\n}).join('\\n'); // Join each line with a newline\n\n// Return the formatted transcript\nreturn {\n  json: {\n    clean_transcript: formattedTranscript\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -416
      ],
      "id": "5a12751f-5377-460c-8418-92793885ca69",
      "name": "Complete Transcript"
    },
    {
      "parameters": {
        "content": "## Post Call Data + Scheduling",
        "height": 496,
        "width": 1072,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        -496
      ],
      "id": "55db5e57-72a3-4b4d-a54d-025219dd7290",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Outbound Calls",
        "height": 352,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -496
      ],
      "id": "2b593902-361a-4092-83fc-f117d648a735",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c2247ba-d109-4c44-ad3a-1e27595b0fb4",
              "leftValue": "={{ $json.body.caller_id }}",
              "rightValue": "=+18159349368",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        -336
      ],
      "id": "49d32032-9711-459a-9b72-430d92b594aa",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbt3UWksohQsRm0",
          "mode": "list",
          "cachedResultName": "Voice Agent",
          "cachedResultUrl": "https://airtable.com/appbt3UWksohQsRm0"
        },
        "table": {
          "__rl": true,
          "value": "tbl3WSnrCJFfBYTq9",
          "mode": "list",
          "cachedResultName": "Inbound Leads",
          "cachedResultUrl": "https://airtable.com/appbt3UWksohQsRm0/tbl3WSnrCJFfBYTq9"
        },
        "filterByFormula": "={Phone Number} = '{{ $json.body.caller_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        656,
        -192
      ],
      "id": "8fbf6a2c-749d-4d3d-9552-76bebf614df3",
      "name": "Search records1",
      "credentials": {
        "airtableTokenApi": {
          "id": "fygxhP9tF4d5sz36",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0d27bca3-6169-416c-9b45-dfecf8efb6ab",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        208,
        -336
      ],
      "id": "7b17b9f2-30eb-41a0-a5db-394b267f3814",
      "name": "Webhook1",
      "webhookId": "0d27bca3-6169-416c-9b45-dfecf8efb6ab"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbt3UWksohQsRm0",
          "mode": "list",
          "cachedResultName": "Voice Agent",
          "cachedResultUrl": "https://airtable.com/appbt3UWksohQsRm0"
        },
        "table": {
          "__rl": true,
          "value": "tbl3WSnrCJFfBYTq9",
          "mode": "list",
          "cachedResultName": "Inbound Leads",
          "cachedResultUrl": "https://airtable.com/appbt3UWksohQsRm0/tbl3WSnrCJFfBYTq9"
        },
        "filterByFormula": "={Phone Number} = '{{ $json.body.called_number }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        656,
        -448
      ],
      "id": "0493511f-d7ec-4c8e-a7fa-f15639991919",
      "name": "Search records2",
      "credentials": {
        "airtableTokenApi": {
          "id": "fygxhP9tF4d5sz36",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Fetch Initiation Client Data",
        "height": 512,
        "width": 902,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -512
      ],
      "id": "3c457bdd-76d2-4672-99d6-c65560aec0e5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"type\": \"conversation_initiation_client_data\",\n  \"dynamic_variables\": {\n    \"voiceOpener\": \"{{ $json[\"Voice Opener\"].value }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        864,
        -192
      ],
      "id": "db2620f5-7a0e-4a96-8d2d-049e3f2651f1",
      "name": "Inbound Calls"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"type\": \"conversation_initiation_client_data\",\n  \"dynamic_variables\": {\n    \"voiceOpener\": \"{{ $json[\"Voice Opener\"].value }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        -448
      ],
      "id": "6ef840da-633a-4d09-a161-a1e2dc6cb519",
      "name": "Outbound Calls"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        496,
        96
      ],
      "id": "d8ca7e1d-0543-48a9-b30a-373c04772b43",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "path": "6e3367d9-90aa-41b5-abc6-6637a24925fa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        304,
        96
      ],
      "id": "a7730bbd-3091-4cf2-a3b4-685aebbe4d5a",
      "name": "Webhook2",
      "webhookId": "6e3367d9-90aa-41b5-abc6-6637a24925fa"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        848,
        96
      ],
      "id": "70062b0c-21b4-4380-a991-838ab2466a67",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ],
      "id": "c319180e-a49f-4e0c-b8fb-c1a674107248",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kX5rZbh5l5A7I4I7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        304
      ],
      "id": "0a596248-c022-4917-943c-6ed67f15e6b2",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        544,
        304
      ],
      "id": "47a77c9c-2e20-4fa8-9496-693b7cb056f0",
      "name": "Think"
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}",
          "mode": "id"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        672,
        304
      ],
      "id": "6d631e6f-126d-4764-9e19-61bfea462419",
      "name": "CRM Tool 1",
      "credentials": {
        "airtableTokenApi": {
          "id": "fygxhP9tF4d5sz36",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}",
          "mode": "id"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        800,
        304
      ],
      "id": "5909ae13-e862-4fd2-ac7a-41538b9aa335",
      "name": "CRM Tool 2",
      "credentials": {
        "airtableTokenApi": {
          "id": "fygxhP9tF4d5sz36",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}",
          "mode": "id"
        },
        "table": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}",
          "mode": "id"
        },
        "id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        928,
        304
      ],
      "id": "ee8f616e-9f8b-42cb-a757-905f6733c8d3",
      "name": "CRM Tool 3",
      "credentials": {
        "airtableTokenApi": {
          "id": "fygxhP9tF4d5sz36",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inbound Call Multi Tool Skeleton",
        "height": 432,
        "width": 912,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        176,
        32
      ],
      "id": "9585b212-c726-423a-97c6-92b421525b21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/appbt3UWksohQsRm0/tbl3WSnrCJFfBYTq9",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/appbt3UWksohQsRm0/tbl3WSnrCJFfBYTq9/viwN6DUnSnjlL9uQT",
          "mode": "url"
        },
        "triggerField": "Last Modified",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -368
      ],
      "id": "84900c23-9004-471b-be8b-64de42dc31ec",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "fygxhP9tF4d5sz36",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.clean_transcript }}"
            },
            {
              "content": "=You are an expert AI assistant specializing in analyzing sales call transcripts for \"Chase AI,\" a custom AI agency. You will be given the full transcript of a conversation between an AI agent named Sarah and a potential client.\n\nYour task is to carefully read the transcript and extract the key information. You MUST respond ONLY with a valid JSON object and nothing else. Do not include any introductory text, backticks, or explanations.\n\nThe JSON object must have the following structure:\n\n{\n  \"callSummary\": \"A concise, one-paragraph summary of the entire conversation, written in the third person.\",\n  \"leadStatus\": \"Analyze the conversation and classify the lead's status. Must be one of the following strings: 'Qualified', 'Not Qualified', 'Follow-up'. 'Qualified' means they explicitly agreed to a follow-up call. 'Not Qualified' means they explicitly said no or were a bad fit. 'Follow-up' means the call was inconclusive or they asked for more information via email first.\",\n  \"projectDetails\": \"Summarize the core requirements and features of the AI solution the client wants to build.\",\n  \"budget\": \"Extract the client's stated budget. Must be one of the following strings: '< $10k', '$10k - $25k', '$25k - $50k', '$50k+', or 'Not Mentioned'.\",\n  \"timeline\": \"Extract the client's stated timeline. Must be one of the following strings: 'ASAP', '1-3 Months', '3-6 Months', '6+ Months', or 'Not Mentioned'.\",\n  \"painPoints\": \"List the key business problems or pain points the client mentioned they are trying to solve.\"\n}",
              "role": "system"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1584,
        -416
      ],
      "id": "918ed3f7-a738-4ddb-aed3-2247e4896ec1",
      "name": "Call Analysis",
      "credentials": {
        "openAiApi": {
          "id": "kX5rZbh5l5A7I4I7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appbt3UWksohQsRm0",
          "mode": "list",
          "cachedResultName": "Voice Agent",
          "cachedResultUrl": "https://airtable.com/appbt3UWksohQsRm0"
        },
        "table": {
          "__rl": true,
          "value": "tbl3WSnrCJFfBYTq9",
          "mode": "list",
          "cachedResultName": "Inbound Leads",
          "cachedResultUrl": "https://airtable.com/appbt3UWksohQsRm0/tbl3WSnrCJFfBYTq9"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Call Summary": "={{ $json.choices[0].message.content.callSummary }}",
            "Lead Status": "={{ $json.choices[0].message.content.leadStatus }}",
            "Budget": "={{ $json.choices[0].message.content.budget }}",
            "Timeline": "={{ $json.choices[0].message.content.timeline }}",
            "Full Transcript": "={{ $('Complete Transcript').item.json.clean_transcript }}",
            "Phone Number": "={{ $('Webhook').item.json.body.data.metadata.phone_call.external_number }}"
          },
          "matchingColumns": [
            "Phone Number"
          ],
          "schema": [
            {
              "id": "First name",
              "displayName": "First name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last name",
              "displayName": "Last name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone Number",
              "displayName": "Phone Number",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Service Requested",
              "displayName": "Service Requested",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Status",
              "displayName": "Lead Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timeline",
              "displayName": "Timeline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Transcript",
              "displayName": "Full Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Voice Opener",
              "displayName": "Voice Opener",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Modified",
              "displayName": "Last Modified",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1936,
        -416
      ],
      "id": "43214d63-eef0-4dd6-8711-e143c79b7435",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "fygxhP9tF4d5sz36",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c48e6940-2846-405a-960c-ab717cb2c69b",
              "leftValue": "={{ $json.choices[0].message.content.leadStatus }}",
              "rightValue": "Qualified",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -176
      ],
      "id": "840134dc-95c4-40b4-a2c9-79236a25567d",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbt3UWksohQsRm0",
          "mode": "list",
          "cachedResultName": "Voice Agent",
          "cachedResultUrl": "https://airtable.com/appbt3UWksohQsRm0"
        },
        "table": {
          "__rl": true,
          "value": "tbl3WSnrCJFfBYTq9",
          "mode": "list",
          "cachedResultName": "Inbound Leads",
          "cachedResultUrl": "https://airtable.com/appbt3UWksohQsRm0/tbl3WSnrCJFfBYTq9"
        },
        "filterByFormula": "=({Phone Number} = \"{{ $('Webhook').item.json.body.data.metadata.phone_call.external_number }}\")",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1408,
        -192
      ],
      "id": "5fb28ddc-aed6-4fab-9344-be52c932323d",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "fygxhP9tF4d5sz36",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Chase AI Meeting",
        "emailType": "text",
        "message": "=Hi {{ $json['First name'] }},\n\nBelow is our Calendly. Just click the link, pick a time that works best for you, and we will see you in the meeting!\n\ncalendly.example.haha",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        -192
      ],
      "id": "244075b0-4d39-4605-9f89-b9bf43f9f577",
      "name": "Send a message",
      "webhookId": "f0131e0d-e74a-4f7b-85b3-b9c26c866f66",
      "credentials": {
        "gmailOAuth2": {
          "id": "4WspapsD9iU1WKrx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📞 Outbound Voice Agent\n## | [Created by Chase AI](https://www.skool.com/chase-ai)\n\n## How it Works\n### - Triggers upon form submission\n### - Voice agent calls + qualifies lead\n### - AI analyzes transcript\n### - Analysis uploaded to CRM\n### - Qualified leads emailed Calendly link\n\n## APIs Needed\n### - Elevenlabs\n### - Airtable\n### - OpenAI\n### - Twilio\n\n\n## Costs\n### - Twilio $20 (credits + phone #)\n### - ElevenLabs $5-25 / m\n\n\n## Airtable Template\n### - [Click here + copy base](https://airtable.com/appbt3UWksohQsRm0/shr1iCRZBez2vax8C)",
        "height": 752,
        "width": 384,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        -464
      ],
      "id": "40696b66-d0e0-4f7a-b8cc-732930d6d0e9",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Complete Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Transcript": {
      "main": [
        [
          {
            "node": "Call Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search records2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records1": {
      "main": [
        [
          {
            "node": "Inbound Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records2": {
      "main": [
        [
          {
            "node": "Outbound Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CRM Tool 1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CRM Tool 2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CRM Tool 3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "11Labs Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Analysis": {
      "main": [
        [
          {
            "node": "Create or update a record",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "415aaa67-f8c8-4808-8f33-fb59c6fc8e48",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "858b0696cb7e4c2d54a791ff0d9e4a3cddc7a852434a593789da95c43379b467"
  },
  "id": "UDYALSjz6GBAMUmx",
  "tags": []
}