workflows/Templates/2. Get Local Service Business Data + Send to Enrichment Platform.json
{
    "name": "2. Get Local Service Business Data + Send to Enrichment Platform",
    "flow": [
        {
            "id": 7,
            "module": "apify:finishedActorRuns",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 1707765
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -432,
                    "y": -6
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "label": "Google Maps Extractor Finished",
                            "data": {
                                "editable": "false"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:apify",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "apify:fetchDatasetItems",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2721790
            },
            "mapper": {
                "datasetId": "{{7.defaultDatasetId}}",
                "type": "clean",
                "format": "json",
                "limit": "100"
            },
            "metadata": {
                "designer": {
                    "x": -136,
                    "y": -3
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "nickolassaraev@gmail.com",
                            "data": {
                                "scoped": "true",
                                "connection": "apify"
                            }
                        }
                    },
                    "expect": {
                        "type": {
                            "mode": "chose",
                            "label": "Clean"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "JSON"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:apify",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "datasetId",
                        "type": "text",
                        "label": "Dataset ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Data transformation",
                        "required": true,
                        "validate": {
                            "enum": [
                                "clean",
                                "simplified",
                                "none"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "json",
                                "csv",
                                "html",
                                "xml",
                                "rss",
                                "xlsx"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "validate": {
                            "max": 100000,
                            "min": 1
                        }
                    },
                    {
                        "name": "offset",
                        "type": "uinteger",
                        "label": "Offset",
                        "validate": {
                            "min": 0
                        }
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "anymailfinder:emailSearchCompany",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3381129
            },
            "filter": {
                "name": "Website?",
                "conditions": [
                    [
                        {
                            "a": "{{3.website}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "searchCriteria": "domain",
                "domain": "{{3.website}}"
            },
            "metadata": {
                "designer": {
                    "x": 157,
                    "y": -2
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "nick@leftclick.ai (geron.evanson@acceleratenowdental.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "anymailfinder"
                            }
                        }
                    },
                    "expect": {
                        "searchCriteria": {
                            "label": "Domain"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:anymailfinder",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "searchCriteria",
                        "type": "select",
                        "label": "Search by",
                        "required": true,
                        "validate": {
                            "enum": [
                                "domain",
                                "companyName"
                            ]
                        }
                    },
                    {
                        "name": "domain",
                        "type": "text",
                        "label": "Domain",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 1548308
            },
            "filter": {
                "name": "Email?",
                "conditions": [
                    [
                        {
                            "a": "{{5.emailList[]}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "/1H4QzbPWzVmn0MrLl2GI6OH2aIvGYZN2yRY77d-1BpRE",
                "sheetId": "Sheet1",
                "includesHeaders": true,
                "values": {
                    "0": "{{3.title}}",
                    "1": "{{3.website}}",
                    "2": "{{3.phoneUnformatted}}",
                    "3": "{{3.location.lat}}",
                    "4": "{{3.location.lng}}",
                    "5": "{{3.totalScore}}",
                    "6": "{{5.emailList}}",
                    "7": "{{get(5.emailList; 1)}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 452,
                    "y": -1
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "nick@leftclick.ai (nick@leftclick.ai)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Plumber Email Scraping"
                            ]
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "label": "Values",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "label": "Business Name (A)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "1",
                                            "label": "Website (B)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "2",
                                            "label": "Phone Number (C)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "3",
                                            "label": "Latitude (D)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "4",
                                            "label": "Longtitude (E)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "5",
                                            "label": "Review Score (F)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "6",
                                            "label": "Email Array (G)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "7",
                                            "label": "Email 1 (H)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "8",
                                            "label": "Email 2 (I)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "9",
                                            "label": "Email 3 (J)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "10",
                                            "label": "Email 4 (K)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "11",
                                            "label": "Email 5 (L)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "12",
                                            "label": "(M)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "13",
                                            "label": "(N)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "14",
                                            "label": "(O)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "15",
                                            "label": "(P)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "16",
                                            "label": "(Q)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "17",
                                            "label": "(R)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "18",
                                            "label": "(S)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "19",
                                            "label": "(T)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "20",
                                            "label": "(U)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "21",
                                            "label": "(V)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "22",
                                            "label": "(W)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "23",
                                            "label": "(X)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "24",
                                            "label": "(Y)",
                                            "type": "text"
                                        },
                                        {
                                            "name": "25",
                                            "label": "(Z)",
                                            "type": "text"
                                        }
                                    ]
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Business Name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Website (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Phone Number (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Latitude (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Longtitude (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Review Score (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Email Array (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Email 1 (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Email 2 (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Email 3 (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Email 4 (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Email 5 (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}