brand-infinity-workflows/main-workflows/Production_Dispatcher.json
{
  "name": "Pillar 3: Production Dispatcher",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "production/dispatch",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "59dda684-a6fe-4f4c-9b49-93527b3eea42",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -64,
        1632
      ],
      "webhookId": "production-dispatch",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jWLoA0KrRtvrl5V4",
          "name": "Video API"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "y0c3JFOEAZFkvAjC",
        "options": {}
      },
      "id": "10147c56-d3de-4b6d-8c53-8d18346c6422",
      "name": "Validate Schema1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        128,
        1632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e543ed1c-00b7-4fbe-8433-e6dcfef90582",
      "name": "Valid?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        336,
        1632
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'ERR_VALIDATION' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "59d69bf1-669c-4566-a7e0-4ee8a0bc7c99",
      "name": "Return ",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        528,
        1792
      ]
    },
    {
      "parameters": {
        "workflowId": "lwHIR7PonbgLVkmJ",
        "options": {}
      },
      "id": "2cd9624b-b217-40cd-9ddf-491b5cbf3023",
      "name": "Acquire Lock1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        528,
        1536
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.lock_acquired }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3faec84b-698b-4ae0-8c7a-0e1c435bc773",
      "name": "Locked?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        736,
        1536
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'ERR_LOCK' }) }}",
        "options": {
          "responseCode": 409
        }
      },
      "id": "70e2c294-8e40-43f7-8e88-712790f5ea81",
      "name": "Return 410",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        928,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "scripts",
        "limit": 1,
        "filterType": "string",
        "filterString": "=id=eq.{{ $('Webhook1').first().json.body.script_id }}"
      },
      "id": "0675027b-7ef2-4073-b698-c47b77d3d62e",
      "name": "Load Script1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        1440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ChWvV6najCTQ4JEQ",
          "name": "Brand Infinity"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PARSE SCENES AND PREPARE JOB TICKETS\n// Per Manifesto Section 5.1 - Job Ticket Lifecycle\n// ============================================\n\nconst input = $('Webhook1').first().json.body;\nconst script = $input.all()[0].json;\n\nlet scenes = [];\ntry {\n  scenes = typeof script.scenes === 'string' ? JSON.parse(script.scenes) : script.scenes || [];\n} catch (e) {\n  scenes = [];\n}\n\n// If no scenes, create one from the full script\nif (scenes.length === 0 && script.script_content) {\n  scenes = [{\n    visual_prompt: 'Generate video for: ' + (script.hook || 'Brand content'),\n    duration_seconds: script.target_duration || 30\n  }];\n}\n\n// Budget tier determines provider priority per Section 5.2\n// Updated: Added Pollo AI for cost-effective video generation\nconst budgetTier = input.budget_tier || 'standard';\nconst providerPriority = {\n  'premium': ['runway', 'sora', 'pika'],\n  'standard': ['pollo', 'runway', 'pika'],\n  'economy': ['pollo', 'kling', 'pika']\n};\n\nconst jobTickets = scenes.map((scene, idx) => ({\n  campaign_id: input.campaign_id,\n  script_id: input.script_id,\n  scene_id: `scene_${idx + 1}`,\n  scene_index: idx,\n  visual_prompt: scene.visual_prompt || scene.description || '',\n  duration_seconds: scene.duration_seconds || 5,\n  provider_priority: providerPriority[budgetTier],\n  status: 'queued',\n  created_at: new Date().toISOString()\n}));\n\nreturn jobTickets.map(ticket => ({ json: ticket }));"
      },
      "id": "da88263b-074e-480a-959e-eba7c2960ec9",
      "name": "Create Job Tickets1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1440
      ]
    },
    {
      "parameters": {
        "workflowId": "QOgvjzuDoykfiqvh",
        "options": {}
      },
      "id": "13e30711-f726-45f9-bf63-9dc0f95791e8",
      "name": "Check Circuit Breaker1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1328,
        1440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.allow_request }}",
              "value2": true
            }
          ]
        }
      },
      "id": "4a53b6ca-1e87-45ca-96bc-e1129f05121c",
      "name": "Circuit OK?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1536,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Try next provider in priority list\nconst ticket = $('Create Job Tickets1').first().json;\nconst providers = ticket.provider_priority;\n\n// Move to next provider\nconst nextProviders = providers.slice(1);\n\nif (nextProviders.length === 0) {\n  return [{ json: { ...ticket, error: 'ALL_PROVIDERS_CIRCUIT_OPEN', should_queue: true } }];\n}\n\nreturn [{ json: { ...ticket, provider_priority: nextProviders } }];"
      },
      "id": "55689d20-e8d1-4ef7-ad5a-39154e02b682",
      "name": "Try Next Provider1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// MULTI-VENDOR ROUTING WITH MOCK MODE\n// Per Manifesto Section 5.2\n// MOCK_MODE: Set env var MOCK_MODE=true to skip real API calls\n// ============================================\n\nconst ticket = $('Create Job Tickets1').first().json;\nconst provider = ticket.provider_priority[0];\nconst mockMode = true; // CHANGE TO FALSE when using real video APIs\n\n// MOCK MODE: Return fake response without calling API\nif (mockMode) {\n  return [{\n    json: {\n      ...ticket,\n      selected_provider: 'mock',\n      mock_mode: true,\n      api_config: null,\n      mock_response: {\n        id: 'mock_' + Date.now(),\n        status: 'completed',\n        output_url: 'https://storage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4'\n      }\n    }\n  }];\n}\n\n// REAL MODE: Build provider-specific API request\nconst providerConfigs = {\n  'sora': {\n    url: 'https://api.openai.com/v1/videos/generations',\n    method: 'POST',\n    body: {\n      prompt: ticket.visual_prompt,\n      duration: Math.min(ticket.duration_seconds, 20),\n      model: 'sora-1.0'\n    },\n    auth: 'openai'\n  },\n  'runway': {\n    url: 'https://api.runwayml.com/v1/generations',\n    method: 'POST',\n    body: {\n      prompt: ticket.visual_prompt,\n      duration: ticket.duration_seconds,\n      mode: 'gen3'\n    },\n    auth: 'runway'\n  },\n  'pika': {\n    url: 'https://api.pika.art/v1/generate',\n    method: 'POST',\n    body: {\n      prompt: ticket.visual_prompt,\n      duration: ticket.duration_seconds\n    },\n    auth: 'pika'\n  },\n  'kling': {\n    url: 'https://api.kling.ai/v1/videos',\n    method: 'POST',\n    body: {\n      prompt: ticket.visual_prompt,\n      duration: ticket.duration_seconds\n    },\n    auth: 'kling'\n  },\n  'pollo': {\n    url: 'https://api.pollo.ai/v1/task/create',\n    method: 'POST',\n    body: {\n      params: {\n        text_prompt: ticket.visual_prompt,\n        model: 'kling-v1-6',\n        duration: ticket.duration_seconds >= 10 ? 10 : 5,\n        aspect_ratio: '16:9'\n      }\n    },\n    auth: 'pollo',\n    headers: {\n      'X-API-KEY': '${POLLO_API_KEY}'\n    }\n  }\n};\n\nconst config = providerConfigs[provider] || providerConfigs['runway'];\n\nreturn [{\n  json: {\n    ...ticket,\n    selected_provider: provider,\n    mock_mode: false,\n    api_config: config\n  }\n}];"
      },
      "id": "818eff11-50db-49d9-a748-a79a31000b50",
      "name": "Route to Provider1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1392
      ]
    },
    {
      "parameters": {
        "method": "={{ $json.api_config.method }}",
        "url": "={{ $json.api_config.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_config.body) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "ce0e3e82-f65f-4036-be69-df8849dcc58f",
      "name": "Submit to Provider1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1936,
        1392
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jWLoA0KrRtvrl5V4",
          "name": "Video API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Handle mock mode response\nconst routeData = $('Route to Provider1').first().json;\nif (routeData.mock_mode) {\n  return [{\n    json: {\n      success: true,\n      campaign_id: routeData.campaign_id,\n      script_id: routeData.script_id,\n      scene_id: routeData.scene_id,\n      provider: 'mock',\n      provider_job_id: routeData.mock_response.id,\n      status: 'completed',\n      result_url: routeData.mock_response.output_url,\n      prompt: routeData.visual_prompt,\n      submitted_at: new Date().toISOString(),\n      mock_mode: true\n    }\n  }];\n}\n\n// Parse provider response and create job record\nconst ticket = $('Route to Provider1').first().json;\nconst response = $input.all()[0].json;\n\nif (response.error) {\n  return [{\n    json: {\n      success: false,\n      error: 'PROVIDER_ERROR',\n      provider: ticket.selected_provider,\n      error_details: response.error,\n      ticket: ticket\n    }\n  }];\n}\n\n// Extract job ID (format varies by provider)\nconst jobId = response.id || response.job_id || response.generation_id || response.task_id;\n\nreturn [{\n  json: {\n    success: true,\n    campaign_id: ticket.campaign_id,\n    script_id: ticket.script_id,\n    scene_id: ticket.scene_id,\n    provider: ticket.selected_provider,\n    provider_job_id: jobId,\n    status: 'submitted',\n    prompt: ticket.visual_prompt,\n    submitted_at: new Date().toISOString(),\n    expected_completion: new Date(Date.now() + 5 * 60 * 1000).toISOString() // 5 min estimate\n  }\n}];"
      },
      "id": "efe1e640-d27c-454f-ad99-879bd03d453b",
      "name": "Parse Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        1392
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "6d3dc4a8-bd2e-4972-af31-901b4017713d",
      "name": "Submitted?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2384,
        1392
      ]
    },
    {
      "parameters": {
        "tableId": "generation_jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $json.campaign_id }}"
            },
            {
              "fieldId": "script_id",
              "fieldValue": "={{ $json.script_id }}"
            },
            {
              "fieldId": "scene_id",
              "fieldValue": "={{ $json.scene_id }}"
            },
            {
              "fieldId": "provider",
              "fieldValue": "={{ $json.provider }}"
            },
            {
              "fieldId": "provider_job_id",
              "fieldValue": "={{ $json.provider_job_id }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "prompt",
              "fieldValue": "={{ $json.prompt }}"
            },
            {
              "fieldId": "submitted_at",
              "fieldValue": "={{ $json.submitted_at }}"
            },
            {
              "fieldId": "expected_completion",
              "fieldValue": "={{ $json.expected_completion }}"
            }
          ]
        }
      },
      "id": "e9bcbf06-88ca-4b89-8a26-34aeb02c99c0",
      "name": "Store Job Record1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2576,
        1200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ChWvV6najCTQ4JEQ",
          "name": "Brand Infinity"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "4OuxyvQvJ9GV3yD1",
        "options": {}
      },
      "id": "581d2d99-d0da-4ed9-a38f-88241caf3378",
      "name": "Log Submission Cost1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2592,
        1376
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, campaign_id: $('Webhook1').first().json.body.campaign_id, jobs_submitted: 1, job_id: $('Store Job Record1').first().json.id }) }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "aa268e1b-c29d-4567-b19d-6c98ed7b48e2",
      "name": "Return 203",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2832,
        1376
      ]
    },
    {
      "parameters": {
        "jsCode": "// Handle provider submission failure\nconst data = $input.all()[0].json;\n\n// Log for retry later\nconsole.error(`Provider ${data.provider} failed: ${JSON.stringify(data.error_details)}`);\n\nreturn [{\n  json: {\n    campaign_id: data.ticket.campaign_id,\n    script_id: data.ticket.script_id,\n    scene_id: data.ticket.scene_id,\n    provider: data.provider,\n    status: 'failed',\n    error_message: JSON.stringify(data.error_details)\n  }\n}];"
      },
      "id": "e6d19e8a-a95d-4e0f-95f6-9061cb1f9dfd",
      "name": "Handle Failure1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        1632
      ]
    },
    {
      "parameters": {
        "tableId": "generation_jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "campaign_id",
              "fieldValue": "={{ $json.campaign_id }}"
            },
            {
              "fieldId": "script_id",
              "fieldValue": "={{ $json.script_id }}"
            },
            {
              "fieldId": "scene_id",
              "fieldValue": "={{ $json.scene_id }}"
            },
            {
              "fieldId": "provider",
              "fieldValue": "={{ $json.provider }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "error_message",
              "fieldValue": "={{ $json.error_message }}"
            },
            {
              "fieldId": "prompt",
              "fieldValue": "={{ $json.prompt || \"\" }}"
            }
          ]
        }
      },
      "id": "89bbd64d-146a-41ac-abab-35bd444263d6",
      "name": "Store Failed Job1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2784,
        1632
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ChWvV6najCTQ4JEQ",
          "name": "Brand Infinity"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "uCTePCAfvuecs7La",
        "options": {}
      },
      "id": "981e111e-7488-4054-9397-6312d554b6de",
      "name": "Alert Failure1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2976,
        1632
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'ERR_VIDEO_PROVIDER_500' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "69aa0116-5564-4b52-8958-cae9e83ce104",
      "name": "Return 501",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3184,
        1632
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Validate Schema1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Schema1": {
      "main": [
        [
          {
            "node": "Valid?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?1": {
      "main": [
        [
          {
            "node": "Acquire Lock1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lock1": {
      "main": [
        [
          {
            "node": "Locked?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locked?1": {
      "main": [
        [
          {
            "node": "Load Script1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 410",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Script1": {
      "main": [
        [
          {
            "node": "Create Job Tickets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Job Tickets1": {
      "main": [
        [
          {
            "node": "Check Circuit Breaker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Circuit Breaker1": {
      "main": [
        [
          {
            "node": "Circuit OK?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Circuit OK?1": {
      "main": [
        [
          {
            "node": "Route to Provider1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Next Provider1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Next Provider1": {
      "main": [
        [
          {
            "node": "Check Circuit Breaker1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Provider1": {
      "main": [
        [
          {
            "node": "Submit to Provider1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit to Provider1": {
      "main": [
        [
          {
            "node": "Parse Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response1": {
      "main": [
        [
          {
            "node": "Submitted?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submitted?1": {
      "main": [
        [
          {
            "node": "Store Job Record1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Submission Cost1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Failure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Job Record1": {
      "main": [
        [
          {
            "node": "Return 203",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Submission Cost1": {
      "main": [
        [
          {
            "node": "Return 203",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Failure1": {
      "main": [
        [
          {
            "node": "Store Failed Job1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Failed Job1": {
      "main": [
        [
          {
            "node": "Alert Failure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Failure1": {
      "main": [
        [
          {
            "node": "Return 501",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c0f8f5ac-a7c8-4bb9-8452-da41db82de73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb0f3042150127121074617aaee31b106c313805cbc452132240d35f72eba898"
  },
  "id": "r2u7mNXahAs8KhKu",
  "tags": [
    {
      "updatedAt": "2025-12-23T09:40:14.135Z",
      "createdAt": "2025-12-23T09:40:14.135Z",
      "id": "ak5oOECQqNIPSE0N",
      "name": "Brand Infinity Engine"
    }
  ]
}